
.make-visible{
    margin-top: 20px;
    color : floralwhite;
}

.clean-box{
    /* border: 1px solid white; */
    border-bottom: 1px solid white;
    padding: 10px;
}

.clean-box-cap{
    border: 1px solid white;
    border-radius: 25px;
    margin-bottom: 5px;
    padding: 10px;
}

.corner{
    flex-flow: row-reverse;
}

.alert-div{
    border: 1px solid floralwhite;
    margin-top: 10px;
    margin-bottom: 10px;
}
.alert-div:hover{
    background-color: #ff00005e;
}

.alert-deco{
    text-decoration: none;
    color: floralwhite;
}
.alert-deco:hover, .alert-deco:active {
    text-decoration: none;
    background-color: transparent;
    color: floralwhite;
}

.aqi-badge{
    background-color: #ff880065;
    padding: 10px;
    color: floralwhite;
    border-radius: 25px;
}