/* import './styles/componentStyles.css'; */

.rowC{
    display:flex; 
    flex-direction:row;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.autocomplete-item{
    padding: 2px;
    
}