/* import './styles/componentStyles.css'; */

.rowC{
    display:flex; 
    flex-direction:row;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.autocomplete-item{
    padding: 10px;
    margin-top: 1px;
    font: 16px Arial;
    background-color: white;
    cursor: pointer;
    border: 2px solid rgb(167, 165, 165);
    border-top: none;
}

.autocomplete-item:hover {
    background-color: #343434;
    color: floralwhite;
}

.autocomplete-item-active {
    padding: 10px;
    margin-top: 1px;
    font: 16px Arial;
    background-color: white;
    cursor: pointer;
    border: 2px solid rgb(167, 165, 165);
    border-top: none;
    background-color: #007f88;
    color: floralwhite;
}

.popcorn{
    box-shadow: inset;
}

.weather-video{
    margin:0px 0px 0px 0px;
    margin-top : -20px;
    width:100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.507));
}

.tabs{
    color: floralwhite;
    font-size: large;
    font-weight: bolder;
}

/* tabs buttons */

.tab-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px auto;
    font-weight: bolder;
    padding: 5px 15px;
    color: #f4f4f4;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid rgb(240, 241, 247);
    position: relative;
    overflow: hidden;
}
  
.tab-btn:hover {
    box-shadow: 1px 1px 25px 10px rgba(252, 252, 255, 0.4);
    background-color: #f4f4f4;
    color: #14bdb4;
}

.tab-btn:active {
    background-color: #007f88;
    color:antiquewhite;
}

.tab-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(250, 250, 252, 0.4),
        transparent
    );
    transition: all 650ms;
}

.tab-btn:hover:before {
    left: 100%;
}

.minor-icons{
    width: 30px;
    height: 30px;
}

.major-icons{
    width: 130px;
    height: 130px;
}

